.profile {
  width: 200px;
  text-align: center;
  border: solid 1px #d8e0ea;
}

.avatar {
  display: block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 10px auto 0 auto;
}

.name {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.tag {
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.location {
  font-size: 14px;
  color: #97a2ae;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 0;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #f3f6f9;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  flex-direction: column;
  align-items: center;
  border: solid 1px #d8e0ea;
  width: 85px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.item {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.label {
  color: #97a2ae;
  padding-top: 22px;
  font-size: 12px;
  display: flex;
}

.quantity {
  padding-bottom: 22px;
  line-height: 1.2;
  font-weight: bold;
  font-size: 14px;
  display: flex;
}
